test
stash
data/ADNI
data/bf*
data/old
output/plots
output/chains/population-atn-old
output/chains/population-atn
output/chains/population-scaled-atn
output/analysis-derivatives/colocalisation/old
output/bf-output
output/analysis-derivatives/bf
py-analysis/env
py-analysis/roi-data
py-analysis/*.ipynb
mathematica/

*.DS_Store