test

data/ADNI
output/plots
output/chains/population-atn-old
output/chains/population-atn
output/chains/population-scaled-atn
output/bf-output
py-analysis/env
py-analysis/roi-data
py-analysis/*.ipynb
mathematica/

*.DS_Store